<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tickets - {{ short_name }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">
  <div class="flex flex-col md:flex-row min-h-screen">
    {% include 'sidebar.html' %}

    <main class="flex-1 px-4 sm:px-6 py-4 pt-20 md:pl-38 overflow-hidden">
      <h1 class="text-3xl font-bold text-gray-800">Tickets</h1>
    </main>
  </div>
</body>
</html>
